#banner, #footer, #leftcol, #breadcrumbs, .docs #toc, .docs .courtesylinks, #leftColumn, #navColumn {
display:none !important;
}
#bodyColumn, body.docs div.docs {
border:medium none !important;
margin:0 !important;
}
